*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(190, 165, 213);
    text-align: center;
    font-size: 1.5rem;
}

.container{
    height: 70hv;
    margin: 25px;
}
   
.game{
    display:grid;
   grid-template-rows: repeat(3,12vw);
   grid-template-columns: repeat(3,12vw);
   justify-content: center;   
}

.box{
    margin: 2px;
    border-radius: 1rem;
    font-size:x-large;
}

#resetBtn,#newBtn{
    font-size:1.25rem;
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
    color:bisque;
}

#msg{
    font-size: 3.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color:rgb(176, 31, 31);
}

.hide{display: none;}